<div id="whoiam">
	<p>
		Welcome!
	</p>
	<span>
		This website is a short presentation of my experiences involving Computing, Games and Education.<br>
		Fell free to visit my <a class="inline_link" href="https://github.com/Edwyn-Gamagora2017" target="_blank">gitHub</a> repositories and <a class="inline_link" href="https://linkedin.com/in/edwyn-batista" target="_blank">linkedIn</a> page in order to get some additional information.<br>
		Or send me an email with your impressions, suggestions, questions etc.<br>
    	I hope you enjoy it [ as much as I did ;) ]
	</span>

	<p>
		Who I am
	</p>
	<img class="photo" src="../../assets/img/perfil-m.png">
	
	<span>
		Computing is a way to solve problems. And that is what I like to do.<br>
		Understanding the problem, thinking about an efficient/reusable solution and implementing it is an amazing game to be played. [Yes, I do like a well structured code]
		So, I like to think the formation in Computer Science as a toolbox that I want to extend by means diversified experiences.
		<br>
		Keep improving and learning is an objective ;) Actually, a cycle: grabbing knowledge from one project to be applied in the next one.
		<br>
		The challenges make us to move on. And at the end, all this stuff helps at the moment of facing them and finding a solution/innovation.

		<p>
			Formation
		</p>
		Master in Development of Video Games (Gamagora Lyon 2 - France/2018)
		<br><br>
		Bachelor in Computer Science (UFRN - Brazil/2015)
	</span>
</div>
