<div id="main_page" class="page">

  <div class="page_header">
    <div class="container">
    <div class="row">
      <div class="logo col-10">
        <img src="../assets/img/logo+name+lg.png" alt="Edwyn Batista">
      </div>
      <div class="icon col-2">
        <a href="https://github.com/Edwyn-Gamagora2017" target="_blank"><img src="../assets/img/icons/github_white.png" alt="github"></a>
        <a href="https://linkedin.com/in/edwyn-batista" target="_blank"><img src="../assets/img/icons/linkedin_white.png" alt="linkedin"></a>
      </div>
    </div>
    </div>
  </div>

  <div class="page_center container">
    <div class="page_content row">
      <div class="central_info col-9">

        <!-- Categorie -->
        <div class="categorie" ng-class="{'categorie-first' : $first}" ng-repeat="categorie in categories">
          <div class="categorie_title">
            <p>{{categorie.title}}</p>
          </div>
          <div class="categorie_content">

            <div class="selectedItem row" ng-class="{'selectedItem_invisible': !isSelectedCategorie(categorie.index)}">

              <div class="images col-6">

                <div id="carousel_categorie_{{categorie.index}}" class="carousel slide" data-ride="carousel" data-interval="5000">
                  <div class="carousel-inner">
                    <div class="carousel-item" ng-class={'active':$first} ng-repeat="image in categorie.items[ selectedItem ].images">
                      <img class="d-block" ng-src="{{image.img}}" alt="{{image.alt}}">
                    </div>
                  </div>
                </div>

                <div class="miniatures">
                  <img ng-repeat="image in categorie.items[ selectedItem ].images"
                    ng-src="{{image.img}}"
                    alt="{{image.alt}}"
                    data-target="#carousel_categorie_{{categorie.index}}"
                    data-slide-to="{{$index}}"
                    class="col-3"
                  >
                  <div>
                    <a ng-repeat="link in categorie.items[ selectedItem ].videos"
                      ng-href="{{link.link}}" target="_blank"
                      class="col-2"
                    >
                      <img ng-src="{{link.img}}" alt="{{link.alt}}"
                      data-toggle="tooltip" title="Texto"
                      tooltip>
                    </a>
                  </div>
                </div>
              </div>

              <div class="info col-6">
                <div class="row"><div class="cell col-12 title">{{categorie.items[ selectedItem ].title}}</div></div>
                <div class="row"><div class="cell col-12 desc" ng-bind-html="categorie.items[ selectedItem ].full_desc"></div></div>
                <div class="row">
                  <div class="cell col-3 label">Key points:</div>
                  <div class="cell col-9 content">
                    <ul>
                      <li ng-repeat="keypoint in categorie.items[ selectedItem ].keypoints">
                        {{keypoint}}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="cell col-3 label">Tools:</div>
                  <div class="cell col-9 content">
                    <span class="badge badge-info"
                      ng-repeat="tool in categorie.items[ selectedItem ].tools">
                      {{tool}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="cell col-3 label">Context:</div>
                  <div class="cell col-9 content">
                    <span class="badge badge-secondary"
                      ng-repeat="context in categorie.items[ selectedItem ].context">
                      {{context}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <a class="cell col-6 playit icon" ng-if="categorie.items[ selectedItem ].play" ng-href="{{categorie.items[ selectedItem ].play}}" target="_blank">
                    Play it!
                  </a>
                  <a class="cell col-6 icon" ng-if="categorie.items[ selectedItem ].repository" ng-href="{{categorie.items[ selectedItem ].repository}}" target="_blank">
                    Repository
                    <img src="../assets/img/icons/github.png" alt="github">
                  </a>
                </div>
              </div>

              <div class="close">
                <img src="../assets/img/icons/close.ico" alt="" ng-click="selectItem(-1,-1)">
              </div>

            </div>

            <div class="listItem row" ng-class="{'list_invisible': isSelectedCategorie( categorie.index )}">

              <div class="item col-lg-4 col-sm-6 col-xs-12" ng-repeat="item in categorie.items" ng-click="selectItem( categorie.index , $index )">
                <img ng-src="{{item.preview_image}}" alt="{{item.title}}">
                <div class="item_label">
                  <p class="title">{{item.title}}</p>
                  <p class="description" ng-bind-html="item.short_desc"></p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- END Categorie -->

      </div>
      <div class="lateral_info col-3">
        <whoiam></whoiam>
      </div>

      <div id="footer_contact" class="page_footer col-12">
        <a class="item" href="https://github.com/Edwyn-Gamagora2017" target="_blank">
          <img src="../assets/img/icons/github_red.png" alt="github">
          <p>GitHub</p>
        </a>
        <a class="item" href="https://linkedin.com/in/edwyn-batista" target="_blank">
          <img src="../assets/img/icons/linkedin_red.png" alt="linkedin">
          <p>LinkedIn</p>
        </a>
        <a class="item" href="mailto:contact@edwynbatista.com?Subject=Contact%20via%20webpage">
          <img src="../assets/img/icons/email_red.png" alt="email">
          <p>contact@edwynbatista.com</p>
        </a>
      </div>
                <!--<div class="logo col-3">
            <img src="../assets/img/logo+name+lg_gray.png" alt="Edwyn Batista">
          </div>-->
    </div>
  </div>

</div>